
<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title>home</ion-title>
</ion-toolbar>



<ion-content>
  
  <ion-card class="coworker-card">
    <img src="../../assets/imgs/card-coworker-header.png" class="header-img"/>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/imgs/card-coworker-avatar.png"/>
          </ion-avatar>
          <ion-label>
            <h1>Rodrigo</h1>
            <p>Cliente</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call" slot="start"></ion-icon>
          <ion-label>
            <h2>65478954</h2>
            <p>Celucar</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>
            <h2>Rodrigo@gmail.com</h2>
            <p>email</p>
          </ion-label>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
